@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

div{
    background-color: darkgreen;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 255, 0, 0.62);
}

div h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

div label {
    font-size: 1.5em;
}

div input#fnum{
    width: 80px;
    height: 30px;
    font-size: 1.5em;
    text-align: center;
}

div input{
    width: 100px;
    height: 25px;
    
}

div select#flista{
    margin: 15px;
    padding: 15px;
    width: 150px;
}

footer{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    text-align: center;
}