@charset "UTF-8"; 

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    text-align: center;

}

Header{
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

div{
    background-color: darkgreen;
    color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.352);
    border-radius: 10px;
}

div p {
    margin: 5px;
    padding: 5px;
}

div p label {
    font-size: 1.5em;
}

div p input {
    width: 80px;
    text-align: center;
    height: 27px;
    font-size: 1.5em;
}

body section div input.button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid white;
    font-size: 1em;
    margin: 10px;
}

footer{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
}