@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

div {
    background-color: dodgerblue;
    padding: 15px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.428);
    margin: 15px;
    font-size: 1.6em;
}

div h2 {
    text-align: center;
}

div > p {
    padding: 5px;
}

div > p > input#hide{
    display: none;
}

div#res{
    display: none;
}

button {
    width: 200px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 4px;
    font-size: 0.7em;
    margin: 15px;
}

button:hover{
    background-color: rgb(90, 169, 249);
    color: white;
}

footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 5px;
}